html{
    background: white;
    color: black;
    font-size: 10px;
}

#zaglavlje{
    display: none;
}

#podnozje{
    display: none;
}

#navigacija{
    display: none;
}

a{
    display: none;
}

form{
    display: none;
}